
<div class="form-group">
  <label class="sr-only" for="new-notebook-title">
    Notebook Title
  </label>
  <input type="text" 
         class="form-control" 
         id="notebook_title" 
         name="notebook[title]"
         placeholder="New Notebook">
</div>
<button type="submit" class="btn btn-primary">UTF+002B</button>
