/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require chosen
 *= require chosen-bootstrap
 *= require paintstrap.min
 *= require_self
 *= require_tree .
 */

@import "jquery-ui";
@import "bootstrap";

@import "paintstrap.min";

body {
  min-width: 900px;
}

#add-notebook-form input {
  width: 150px;
  float: right;
}

#add-notebook-form button {
  width: 50px;
  float: right;
}

.listgroup-item-heading {
  z-index: 500
}



input#new_tag_name {
  width: 50%;
  float: left;
  margin-right: 10px;
  height: 38px;
}



.brand {
  margin: 10px 30px;
}

#change-memo-notebook {
  margin-left: 150px;
  width: 300px;
}

#tag-controls ul li {
  width: 250px;
}


#tag-controls ul li form{
  width: 200px;
}


