/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require chosen
 *= require chosen-bootstrap
 *= require paintstrap.min
 *= require_self
 *= require_tree .
 */

@import "jquery-ui";
@import "bootstrap";

@import "paintstrap.min";



#add-notebook-form input {
  width: 150px;
  float: right;
}

#add-notebook-form button {
  width: 50px;
  float: right;
}

#add-tag-input {
  padding: 2px 0 3px 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 120px;
  height: 25px;
  float: left;
  font-size: 13px;
  background-color: #ccc;
}


#add-tag-input:focus {
  outline: none;
}

#attach-image {
  display: none
}

body {
  min-width: 900px;
}


.brand {
  margin: 10px 30px;
}

#change-memo-notebook {
  float: left;
}

#editor {
  margin-top: 55px;
  height: 600px;
}

#editor-controls {
  padding: 10px 0;
  clear: both;
  min-height: 50px;
}

#image-form {
  margin-top: 10px;
  clear: both;
  float: left;
}

#memo_body {
  max-height: 300px;
  overflow: scroll;
  outline: none;
}

#memo-button-controls {
 float: right;
}

.memo-item {
  height: 130px;
}

.memo-item img {
  margin-top: -40px;
  display: inline;
  float: right;
}

.memo-item p {
  width: 65%;
  clear: both;
  float: left
}

.memo-item h4 {
  display: inline;
  float: left;
}

.memo-item p.text-muted {
  border-top: 1px dotted #ccc;
  padding-top: 10px;
  margin-top: 5px;
  font-size: 12px;
}

.memo-item p.text-success {
  width: 50%;
  float: left;
}

#memo-sidebar .list-group{
  max-height: 500px;
  overflow: scroll
}

ul#memo-tag-list {
  margin: 20px 0;
}

#memo-tag-list li {
  float: left;
  margin: 5px 0;
}

#notebook-list {
  max-height: 245px;
  overflow: scroll;
  margin-bottom: 10px; 
}

#notebook-sidebar {
  min-width: 250px;
}

.listgroup-item-heading, .list-group-item {
  z-index: 500
}

#tag-controls ul li {
  width: 250px;
}


#tag-controls ul li form{
  width: 200px;
}

#tag-list {
  max-height: 260px;
  overflow: scroll;
}

#time-data {
  float: left;
  clear: both;
}

.ui-draggable-dragging {
  z-index: 999
}


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  color: #ccc;  
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 13px;
  padding-left: 3px;
  padding-right: 14px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  min-height: 20px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.twitter-typeahead .tt-query:focus,
.twitter-typeahead .tt-hint:focus {
  background-color: #fff ! important;
}
.navbar .search-query, .navbar .tt-hint {
  width: 200px;
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 2px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
