<% if (memo) { %>
<%   var body_content = memo.get('body');  %>
<% } %>



<div class="form group">
  <textarea class="form-control"
            id="memo_body"
            name="memo[body]"
            rows=8><%= body_content %></textarea>
</div>