<% if (memo) { %>
<%   var body_content = memo.get('body');  %>
<% } %>

  <div id="memo_body"
       name="memo[body]"
       contenteditable="true">

       <%= body_content %>
  </div>
   <% if (memo.hasImage()) { %>
     <img src="<%= memo.get('image_big_url')%>" class="img-thumbnail">
   <% } %> 