<div id="editor-controls">
  <button id="memo-new" 
          type="button"
          <% if (isNewMemo) { %> disabled <% } %>
          class="btn btn-primary">
          New
  </button>

  <button id="memo-trash" 
          type="button"
          <% if (isNewMemo) { %> disabled <% } %>
          class="btn btn-danger">
          Trash
  </button>
  <button id="memo-save" type="button" class="btn btn-warning">Save</button>
</div>
<br />
