<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="new-notebook-title">
      Notebook Title
    </label>
    <input type="text"
           class="form-control"
           name="notebook[title]"
           id="notebook_title" 
           placeholder="New Notebook">
  </div>
  <button type="submit" class="btn btn-primary btn-add btn-md">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</form>
<br/>
<br/>