<div class="list-group">
  <% memos.forEach(function (memo) { %>
    <a href="#" class="list-group-item" data-id="<%= memo.id %>">
      <h4 class="list-group-item-heading"><%= memo.get('title') %></h4>
      <p class="list-group-item-text"><%= memo.preview() %></p>
    </a>
  <% }) %>
</div>
