<br>
<form class="form-inline">
  <label for="tag_name">Tag Memo</label>
  <select id="tag_name" name="tag[name]" class="form-control" type="text">
    <option>
      Select a tag
    </option>
    <% tags.forEach(function (tag) { %>
      <option data-id="<%= tag.id %>" value="<%= tag.get('name') %>">
        <span class="glyphicon glyphicon-tag"></span><%= tag.get('name') %>
      </option>
    <% }) %>
  </select>
</form>
<br>
