<div class="list-group" id="notebook-list">
  <% notebooks.forEach(function (notebook, index) { %>
    <a href="#" data-id="<%= notebook.id %>" 
      <% if (startNotebook === notebook.id) { %>
        class="list-group-item notebook-item active">
      <% } else { %>
        class="list-group-item notebook-item">
      <% } %>
      

      <span class="listgroup-item-heading">
        <span class="glyphicon glyphicon-folder-close"></span>
          <%= notebook.shortTitle() %>
      </span>

      <% if (index !== 0) { %>
        <span data-id="<%= notebook.id %>" class="close pull-right">
          &times;
        </span>
      <% } %>
    </a>
  <% }) %>
</div>