<div class="list-group">
  <% notebooks.forEach(function (notebook) { %>
    <a href="#" class="list-group-item notebook-item" data-id="<%= notebook.id %>">
      <span class="listgroup-item-heading">
        <%= notebook.get('title') %>
      </span>
      <span data-id="<%= notebook.id %>" class="close pull-right">
        &times;
      </span>
    </a>
  <% }) %>
</div>