<li class="text-primary">
  <span class="glyphicon glyphicon-time"></span>
  <em>Created <%= memoCreated %></em>
</li>
<li class="text-primary">
  <span class="glyphicon glyphicon-time"></span> 
  <em>Updated <%= memoUpdated %></em>
</li>