<li class="text-primary text-success">
  <span class="glyphicon glyphicon-time"></span>
  <em>Created <%= memoCreated %></em>
</li>

<li class="text-primary text-success">
  <span class="glyphicon glyphicon-time"></span> 
  <em>Updated <%= memoUpdated %></em>
</li>