<form>
  <input type="text" 
         class="form-control" 
         id="new_tag_name" 
         name="new_tag[name]"
         <% if (disabled) { %>
           disabled
         <% } %>
         >
  <button type="submit"
      id="create-new-tag" 
      class="btn btn-primary"
      <% if (disabled) { %>
        disabled
      <% } %>>
      New Tag
  </button>
</form>
