<form>
  <input type="text" class="twitter-typeahead"
         id="add-tag-input"
         placeholder="+ Add Tag"
         name="new_tag[name]"
         <% if (disabled) { %>
           disabled
         <% } %>
         >
</form>
