

    <li> 
      <span class="glyphicon glyphicon-tags text-success"></span>
    </li>

  <% if (tags) { %>
    <% tags.forEach(function (tag) { %>
      <li class="btn-group">
        <button type="button" 
                class="delete-tag btn btn-success btn-xs" 
                data-name="<%= tag.name %>">
                &times;
        </button>
        <button class="btn btn-success btn-xs memo-tag-btn" 
                data-name="<%= tag.name %>">
                <%= tag.get('name') %> 
        </button>
      </li>
    <% }) %>
  <% } %>

